{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry"
      }
    ],
    ["@babel/preset-react"]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src", "src/components"],
        "extensions": [".js"]
      }
    ],
    ["@babel/plugin-transform-runtime"]
  ]
}
